<%- include('partials/_header') %>
    <div class="card col-md-4 mt-4 mx-auto">
        <div class="card-header">
            <h2 class="card-title">Sign in</h2>
        </div>
        <div class="card-body ">
            <% if(success) { %>
                <div class="alert alert-success">
                    <%= success[0] %>
                </div>
                <% } %>

                    <% if(error) { %>
                        <div class="alert alert-danger">
                            <%= error[0] %>
                        </div>
                        <% } %>

                            <form action="/users/in" method="POST">
                                <div class="form-group mb-4">
                                    <input required autocomplete="off" type="email" name="email" placeholder="Insert your email" class="w-100 p-1">
                                </div>
                                <div class="form-group mb-4">
                                    <input required autocomplete="off" type="password" name="password" placeholder="Insert your password" class="w-100 p-1">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Sign in</button>
                            </form>
        </div>
    </div>